version: '2'
services:
  db:
    restart: always
    image: postgres
    volumes:
      - database:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  web:
    build: .
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
#    command: bundle exec rdebug-ide --host 0.0.0.0 --port 1234 --dispatcher-port 26162 -- bin/rails s -b 0.0.0.0 -p 3000 -e development
    volumes:
      - web_persist:/app/public
    ports:
      - "3000:3000"
#      - "1234:1234"
    depends_on:
      - db
volumes:
  database:
  # TODO: remove when pictures persisted in db
  web_persist:
