<div class="row">
  <div class="col-md-2">
    <% if commentaire.auteur.image? %>
      <%= image_tag(commentaire.auteur.image.url, size: '32', class: 'img-responsive center-block img-circle') %>
    <% end %>
  </div>
  <div class="col-md-10">
    <p>
      <strong><%= link_to commentaire.auteur.nom_complet, utilisateur_path(commentaire.auteur) %></strong>, <%= l commentaire.date, format: :short %>
    </p>
    <p>
      <%= commentaire.texte %>
    </p>
  </div>
</div>
