<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
  
<body>
<h1>Bienvenue sur Yodleur, l'application qui organise la démocratie liquide et participative dans
  le Grand Lyon !</h1>
  <p>
  Votre demande d'inscription a été fournie à la mairie de votre lieu de résidence,
  votre inscription sur l'état civil va être vérifiée par nos agents et un mail vous sera
  envoyé pour confirmer votre inscription.
  </p>
  <p>Bonne journée, et à bientôt sur Yodleur !</p>
  
</body>
</html>
